// Specific CSS for your home-page
h1 {
  color: aliceblue;
  font-size: 3.22rem;
}

.title {
  width: 400px;
  margin: 100px 200px;
}

.retangle-home {
  width: 427px;
  height: 427px;
  border-radius: 50px;
  background-color: #e56b6f;
  margin-top: 50px;
  img{
    vertical-align: bottom
  };
}
