<div class="container">
  <div class="hero d-flex">
  <div class="title">
    <h1>We are an agency building digital products and experiences</h1>
  </div>
  <div class="retangle-home">
    <%= cl_image_tag("bro")%>
  </div>
  </div>
</div>
