.navbar-lewagon {
  justify-content: space-between;
  background: #161D23;
  height: 110px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}

a.dropdown-item {
  color: white;
}
